<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>opencover</Format>
          <ExcludeByAttribute>
            Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute,ExcludeFromCodeCoverageAttribute
          </ExcludeByAttribute>
          <ExcludeByFile>
            **/src/OpenHab.Windows.Tray/AcrylicBlurHelper.cs,
            **/src/OpenHab.Windows.Tray/DwmWindowDecorations.cs,
            **/src/OpenHab.Windows.Tray/MainUi/MainUiWebViewHost.xaml.cs,
            **/src/OpenHab.Windows.Tray/Rendering/CompositionAnimationHelper.cs,
            **/src/OpenHab.Windows.Tray/Rendering/SitemapComboHelper.cs,
            **/src/OpenHab.Windows.Tray/Rendering/SitemapPageTransitionAnimator.cs,
            **/src/OpenHab.Windows.Tray/Shortcuts/GlobalHotkeyService.cs,
            **/src/OpenHab.Windows.Tray/Shortcuts/HotkeyMessageWindow.cs,
            **/src/OpenHab.Windows.Tray/Shortcuts/RadialCommandMenuWindow.cs,
            **/src/OpenHab.Windows.Tray/Shortcuts/ShortcutInteractiveCommandWindow.cs,
            **/src/OpenHab.Windows.Tray/Shortcuts/ShortcutRecorderControl.cs,
            **/src/OpenHab.Windows.Tray/Tray/TrayIconService.cs,
            **/src/OpenHab.Windows.Tray/Startup/StartupManager.cs,
            **/src/OpenHab.Windows.Tray/DeviceInfo/WindowsBatteryInfoReader.cs,
            **/src/OpenHab.Windows.Tray/DeviceInfo/WindowsBluetoothInfoReader.cs,
            **/src/OpenHab.Windows.Tray/DeviceInfo/WindowsNetworkInfoReader.cs,
            **/src/OpenHab.Windows.Tray/DeviceInfo/WindowsSessionInfoReader.cs,
            **/src/OpenHab.Windows.Tray/DeviceInfo/WindowsDeviceStateSnapshotSource.cs,
            **/src/OpenHab.Windows.Notifications/ShortcutRegistrar.cs,
            **/src/OpenHab.Windows.Notifications/ToastService.cs,
            **/src/OpenHab.Core/Auth/WindowsCredentialStore.cs
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
